extend partials/layout

block content
	.quote-wrapper
		.quote
			blockquote
				p#quote-text.
					I have come to believe that the whole world is an enigma, a harmless enigma that is made terrible by our own mad attempt to interpret it as though it had an underlying truth.
				cite Umberto Eco
		hr
		
		.buttons
			a.share-twitter(href="#").
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1109 901" width="100%" height="100%"><path d="M762.713 737.827c135.434-118.81 215.838-296.886 217.744-476.769 2.476-52.727 61.633-69.971 85.989-111.26 7.4-9.029 14.504-18.298 21.93-29.101-31.081 8.155-107.013 36.72-112.688 24.997 38.38-28.369 69.801-67.876 83.382-114.072-48.136 18.16-109.092 69.291-157.92 34.96-29.851-20.797-61.725-41.502-97.135-46.46-22.038-4.538-46.354-5.649-69.819-3.732C615.67 34.165 535.625 192.12 521.07 282.536 355.503 268.556 198.521 181.806 93.066 55.8c-55.679 93.5-27.848 226.478 61.756 288.645-22.573 12.593-68.45-21.398-92.958-17.183.892 95.606 70.995 186.232 163.88 209.803 6.647 10.291-63.164 10.781-87.31 5.486 27.044 85.112 107.463 146.77 196.087 153.478.477 13.701-51.949 38.075-75.282 50.261-74.32 35.926-157.722 45.977-239.38 41.12 143.893 91.402 324.652 120.138 491.45 79.042 93.467-22.8 180.54-64.548 251.404-128.625z" stroke-width="38" stroke-linejoin="round" stroke-linecap="square"/></svg>
					
			button.update-btn(type="button", id="get-quote").
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" height="100%" width="100%"><g transform="translate(-.557 -952.088)"><g id="a" stroke-width="4" fill="none"><path d="M7.775 981.718a47.233 47.233 0 0 1 55.914-22.37 47.233 47.233 0 0 1 32.44 50.739"/><path d="M17.538 978.794l-9.982 2.815-3.24-9.853"/></g><use xlink:href="#a" transform="rotate(179.494 50.424 1002.093)" width="100%" height="100%"/></g></svg>
			
